@import "tailwindcss";

@theme {
  --font-mono: var(--hu-font-jetbrains);
  --font-inter: var(--hu-font-inter);

  --radius-ele: var(--radius);
  --radius-card: var(--card-radius);

  --color-background: hsl(var(--hu-background));
  --color-foreground: hsl(var(--hu-foreground));

  --color-card: hsl(var(--hu-card));
  --color-card-foreground: hsl(var(--hu-card-foreground));

  --color-primary: hsl(var(--hu-primary));
  --color-primary-foreground: hsl(var(--hu-primary-foreground));

  --color-accent: hsl(var(--hu-accent));
  --color-accent-foreground: hsl(var(--hu-accent-foreground));

  --color-secondary: hsl(var(--hu-secondary));
  --color-secondary-foreground: hsl(var(--hu-secondary-foreground));

  --color-muted: hsl(var(--hu-muted));
  --color-muted-foreground: hsl(var(--hu-muted-foreground));

  --color-destructive: hsl(var(--hu-destructive));
  --color-destructive-foreground: hsl(var(--hu-destructive-foreground));

  --color-border: hsl(var(--hu-border));
  --color-input: hsl(var(--hu-input));
  --color-ring: hsl(var(--hu-ring));
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

:root {
  --hu-font-inter: var(--font-inter);
  --hu-font-jetbrains: var(--font-jetbrains-mono);

  --radius: 0.8rem;
  --card-radius: 1rem;
  --hu-background: 0, 0%, 100%;
  --hu-foreground: 0, 0%, 10%;
  --hu-card: 0, 0%, 98%;
  --hu-card-foreground: 0, 0%, 10%;
  --hu-primary: 0, 0%, 20%;
  --hu-primary-foreground: 0, 0%, 98%;
  --hu-secondary: 0, 0%, 94%;
  --hu-secondary-foreground: 0, 0%, 20%;
  --hu-muted: 0, 0%, 95%;
  --hu-muted-foreground: 0, 0%, 40%;
  --hu-accent: 0, 0%, 96%;
  --hu-accent-foreground: 0, 0%, 20%;
  --hu-destructive: 0, 60%, 50%;
  --hu-destructive-foreground: 0, 0%, 98%;
  --hu-border: 0, 0%, 90%, 0;
  --hu-input: 0, 0%, 100%;
  --hu-ring: 0 0% 48%;
}

.dark {
  --hu-background: 0, 0%, 7%;
  --hu-foreground: 0, 0%, 100%;
  --hu-card: 0, 0%, 10%;
  --hu-card-foreground: 0, 0%, 92%;
  --hu-primary: 0, 0%, 100%;
  --hu-primary-foreground: 0, 0%, 0%;
  --hu-secondary: 0, 0%, 14%;
  --hu-secondary-foreground: 0, 0%, 92%;
  --hu-muted: 0, 0%, 14%;
  --hu-muted-foreground: 0, 0%, 60%;
  --hu-accent: 0, 0%, 16%;
  --hu-accent-foreground: 0, 0%, 92%;
  --hu-destructive: 0, 60%, 50%;
  --hu-destructive-foreground: 0, 0%, 98%;
  --hu-border: 0, 0%, 15%, 0;
  --hu-input: 0, 0%, 14%;
  --hu-ring: 0, 0%, 45%;
}

::selection {
  background-color: hsl(var(--hu-foreground));
  color: hsl(var(--hu-background));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-inter;
  }
}

.toast {
  border-radius: var(--radius-ele) !important;
  font-weight: 500 !important;
}

.go2072408551 {
  div {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
}
